doctype html
html
  - locals.description = '{{description}}'
  - locals.url = locals.url
  block locals

  head
    block head
    - var title = locals.title ? '{{project}} | ' + locals.title : '{{project}}'
    title= title
    meta(name='description' content=locals.description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    //- Open graph meta
    meta(property='og:title' content=title)
    meta(property='og:site_name' content='{{project}}')
    meta(property='og:url' content=locals.url + '/')
    meta(property='og:description' content=locals.description)
    meta(property='og:type' content='article')
    meta(property='og:locale' content='en_US')

    link(rel='stylesheet' href=(process.env.CDN_URL || '/') + 'main.min.css')
    link(rel='icon' type='image/png' href='/favicon.png')

  body
    header {{project}}

    block main

    footer

    script(src=(process.env.CDN_URL || '/') + 'main.min.js')
